.box{
    width: 500px;
    height:500px;
    /* background-color: green; */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #04d; */
    background-color: #000000;
    
    /* margin: 100px 30px 50px 80px;
    margin: 100px 30px 50px;
    margin: 100px 30px;
    margin: 100px; */
    /* 
    margin: distance; All sides
    margin: top right bottom left;
    */

    /* padding: 20px; */

    /* border:width type color; */

    /* border: 5px solid red; */
}

.box:hover{
    background-color: yellow;
}



1- color name
2- RGB (Red,green,blue)
3- HSL (Hue Saturation, Lighting)
4- Hex (3letter or 6 letter)