:root{
    --customColor:red;
    --sizeOfText:30px;
}

/* *{
     color: var(--customColor);
    font-size: var(--sizeOfText);
} */


h1{
    color: var(--customColor);
    font-size: var(--sizeOfText);
}
/* p{
    background-color: var(--customColor);
    font-size: var(--sizeOfText);
} */


h1:hover{
    color: blue;
}
